/**
 * Styles extracted from: packages/@remirror/theme/src/extension-tables.ts
 */
.remirror-editor .ProseMirror .tableWrapper {
  overflow-x: auto;
}
.remirror-editor .ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}
.remirror-editor .ProseMirror td,
.remirror-editor .ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
.remirror-editor .ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: var(--remirror-hue-blue-9);
  pointer-events: none;
}
.remirror-editor .ProseMirror .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
/* Give selected cells a blue overlay */
.remirror-editor .ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}
