/**
 * Styles extracted from: packages/@remirror/theme/src/extension-blockquote.ts
 */
.remirror-editor blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  font-style: italic;
}
.remirror-editor blockquote p {
  color: #888;
}
