/**
 * Styles extracted from: packages/@remirror/react-wysiwyg/src/components/wysiwyg-editor.tsx
 */
.remirror-wysiwyg-editor .ProseMirror {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 0 1px black;
  line-height: 1.625rem;
  border-radius: 8px;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  max-height: calc(90vh - 124px);
  min-height: 142px;
  padding: 8px;
  padding-right: 40px;
}

.remirror-wysiwyg-editor .ProseMirror p {
  margin: 0px;
  letter-spacing: 0.6px;
  color: text;
}

.remirror-wysiwyg-editor .ProseMirror a.mention {
  pointer-events: none;
  cursor: default;
}

.remirror-wysiwyg-editor .ProseMirror a {
  text-decoration: none !important;
  color: blue;
}

.remirror-wysiwyg-editor .ProseMirror:focus {
  outline: none;
  box-shadow: focus;
}

.remirror-wysiwyg-editor .ProseMirror .Prosemirror-selectednode {
  background-color: grey;
}

.remirror-wysiwyg-editor-container {
  position: relative;
  height: 100%;
}
