!.eslintrc.js
!**/.eslintrc.js
!.changeset
**/lib
lib
**/node_modules
**/node_modules/**
**/dist
dist
**/dist-types
dist-types
node_modules
.out
public
coverage

.cache
lerna.json
.vscode
.yarn/**

docs/api/**

**/temp/**

pnpm-lock.yaml
.pnpm-store/
support/root/pnpm-lock.yaml

**/.next
**/.docusaurus
website/build
**/storybook-static

docs/api/
support/api/
