!.eslintrc.js
!**/.eslintrc.js
!.changeset
**/lib
lib
**/dist
dist
**/node_modules
**/node_modules/**
node_modules
examples/*/node_modules/
.out
public
coverage

.cache
**/.next
lerna.json
.vscode
.yarn/**

docs/api/**

**/temp/**

pnpm-lock.yaml
.pnpm-store/
support/root/pnpm-lock.yaml

support/website/.docusaurus
support/website/build

docs/api/
