!.eslintrc.js
!**/.eslintrc.js
**/lib
lib
**/dist
dist
node_modules
.out
public
coverage

.cache
**/.next
lerna.json
.vscode
.yarn/**

**/temp/**

pnpm-lock.yaml
.pnpm-store/
support/root/pnpm-lock.yaml

support/website/.docusaurus
support/website/build
support/api/
