## This file has been copied from `support/root`.
## TO EDIT update the `support/root` file and run `pnpm run update:root`.

save-workspace-protocol = false

# Version 5.2.0 introduces automatic hoisting of `@types/*`. I'm turning it off
# for now.
shamefully-hoist = false
