!.eslintrc.js
!**/.eslintrc.js
**/lib
lib
**/dist
dist
node_modules
.out
public
coverage
docs/generated/*
docs/.cache/
docs/gatsby-config.js

.cache
**/.next
lerna.json
.vscode
.yarn/**

/support/api/**/*.md
/support/api/**
/docs/api/**/*.md
/docs/api/**
**/temp/**


pnpm-lock.yaml
.pnpm-store/
