# Don't use the workspace protocol.
save-workspace-protocol=false

# This makes installations on branches that aren't up to date less stressful by
# preserving the latest version in the current workspace.
prefer-workspace-packages=true

# Set the publish branch to prevent unintentional publishing.
publish-branch="next"

# Version 5.2.0 introduces automatic hoisting of `@types/*`. I'm turning it off
# for now.
shamefully-hoist=false

# Support shell commands on windows.
shell-emulator=true
