# Don't use the workspace protocol.
save-workspace-protocol=false

# This makes installations on branches that aren't up to date less stressful by
# preserving the latest version in the current workspace.
prefer-workspace-packages=true

# Set the publish branch to prevent unintentional publishing.
publish-branch="next"

# Version 5.2.0 introduces automatic hoisting of `@types/*`. I'm turning it off
# for now.
shamefully-hoist=false

# Support cross platform shell commands.
shell-emulator=true

# Added since the shell-emulator seems to remove colors from output. There is a
# warning against using this setting in the docs.
# https://pnpm.js.org/en/npmrc#color
color=always
