lib
**/lib
dist
**/dist
.cache
public
package.json
**/package.json
coverage/**
**/.next
.out
storybook-static
lerna.json
examples/with-razzle/build/**
.vscode

./support/api/**/*.md
./support/api/**
./docs/api/**/*.md
./docs/api/**
