{
  "useTabs": false,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "jsxSingleQuote": true
}
