/**
 * Styles extracted from: packages/remirror__theme/src/extension-whitespace-theme.ts
 */
.remirror-editor.ProseMirror .whitespace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.remirror-editor.ProseMirror .whitespace:before {
  caret-color: inherit;
  color: gray;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  width: 0;
}
.remirror-editor.ProseMirror .whitespace--s:before {
  content: '·';
}
.remirror-editor.ProseMirror .whitespace--br:before {
  content: '¬';
}
.remirror-editor.ProseMirror .whitespace--p:before {
  content: '¶';
}
