/**
 * Styles extracted from: packages/remirror__theme/src/extension-caption-theme.ts
 */
.remirror-editor figure {
  margin: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.remirror-editor figure > *:first-child {
  display: block;
}
.remirror-editor figure > figcaption {
  background: var(--rmr-color-shadow-3);
  padding: 0.25rem 1rem;
}
