/**
 * Styles extracted from: packages/remirror__theme/src/extension-blockquote-theme.ts
 */
.remirror-editor.ProseMirror blockquote {
  border-left: 3px solid var(--rmr-hue-gray-3);
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  font-style: italic;
}
.remirror-editor.ProseMirror blockquote p {
  color: #888;
}
