/**
 * Styles extracted from: packages/remirror__theme/src/extension-callout-theme.ts
 */
.remirror-editor div[data-callout-type] {
  margin-left: 0;
  margin-right: 0;
  padding: 16px 16px 16px 12px;
  background-color: #f9f9fa;
  border-radius: 10px;
}
.remirror-editor div[class*='paragraph-callout-block'] {
  margin-left: 8px;
}
.remirror-editor div[data-callout-type='info'] {
  background: #d3e3ff;
}
.remirror-editor div[data-callout-type='warning'] {
  background: #fee1a9;
}
.remirror-editor div[data-callout-type='error'] {
  background: #fdd7d4;
}
.remirror-editor div[data-callout-type='success'] {
  background: #d8eada;
}
.remirror-editor div[data-callout-type='idea'] {
  background: #dedde0;
}
