/**
 * Styles extracted from: packages/remirror__theme/src/extension-list-theme.ts
 */
.remirror-editor ul[data-checkbox] {
  list-style: none;
  padding-left: 20px;
}
.remirror-editor li[data-checkbox] {
  display: flex;
  line-height: 1.25;
}
.remirror-editor li[data-checkbox] > input[type='checkbox'] {
  cursor: pointer;
  vertical-align: baseline;
  position: relative;
  left: -2px;
}
.remirror-editor li[data-checkbox] > input[type='checkbox'] + p {
  flex: none;
  min-width: 1px;
}
