/**
 * Styles extracted from: packages/remirror__theme/src/extension-callout-theme.ts
 */
.remirror-editor div[data-callout-type] {
  margin-left: 0;
  margin-right: 0;
  padding: 16px 16px 16px 12px;
  background-color: #f9f9fa;
}

.remirror-editor div[data-callout-type] > *:not(.emoji-block-wrapper) {
  margin-left: 30px;
}
.remirror-editor div[class*='emoji-block-wrapper'] {
  float: left;
}
