.remirror-editor {
  margin: 60px;
  padding: 60px !important;
  height: 1000px !important;
  min-height: 1000px !important;
}

.hovering {
  /* background-color: pink; */
  position: relative;
}

.hovering::before {
  content: '王';
  display: inline-block;
  cursor: move;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -40px;
  top: 2px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  background: lightblue;
}

blockquote {
  border-left: 8px solid gray;
  padding-left: 32px;
  margin-left: 32px !important;
}
