.remirror-editor {
  margin: 60px;
  padding: 60px !important;
  height: 1000px !important;
  min-height: 1000px !important;
}

.hovering {
  background-color: pink;
  position: relative;
  min-width: 10px;
  width: 10px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

.hovering::before {
  content: '王';
  display: inline-block;
  cursor: move;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -40px;
  top: 2px;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  background: lightblue;
}

.remirror-draggable {
  border-style: solid;
  border-color: green;
  border-width: 1px;
}
