/**
 * Styles extracted from: @remirror/core/src/styles.ts
 */
.remirror-editor .ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;
}
.remirror-editor .ProseMirror pre {
  white-space: pre-wrap;
}
.remirror-editor .ProseMirror li {
  position: relative;
}
.remirror-editor .ProseMirror[contenteditable='false'] {
  white-space: normal;
}
.remirror-editor .ProseMirror[contenteditable='true'] {
  white-space: pre-wrap;
}
.remirror-editor .ProseMirror-hideselection {
  caret-color: transparent;
}
.remirror-editor .ProseMirror-hideselection *::selection,
.remirror-editor .ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.remirror-editor .ProseMirror-selectednode {
  outline: 2px solid #8cf;
}
.remirror-editor li.ProseMirror-selectednode {
  outline: none;
}
.remirror-editor li.ProseMirror-selectednode:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/**
 * Styles extracted from: @remirror/extension-blockquote/src/styles.ts
 */
.remirror-editor blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  font-style: italic;
}
.remirror-editor blockquote p {
  color: #888;
}

/**
 * Styles extracted from: @remirror/extension-gap-cursor/src/styles.ts
 */
.remirror-editor .ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}
.remirror-editor .ProseMirror-gapcursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  -webkit-animation: ProseMirror-cursor-blink-remirror-editor 1.1s steps(2, start) infinite;
  animation: ProseMirror-cursor-blink-remirror-editor 1.1s steps(2, start) infinite;
}
@-webkit-keyframes ProseMirror-cursor-blink-remirror-editor {
  to {
    visibility: hidden;
  }
}
@keyframes ProseMirror-cursor-blink-remirror-editor {
  to {
    visibility: hidden;
  }
}
.remirror-editor .ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

/**
 * Styles extracted from: @remirror/extension-placeholder/src/styles.ts
 */
.remirror-core .is-empty:first-of-type::before {
  position: absolute;
  color: #aaa;
  pointer-events: none;
  height: 0;
  font-style: italic;
  content: attr(data-placeholder);
}

/**
 * Styles extracted from: @remirror/react-editor-social/src/social-editor-styles.ts
 */
.remirror-social-editor {
  -webkit-box-flex: 1px;
  -webkit-flex-grow: 1px;
  -ms-flex-positive: 1px;
  flex-grow: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: border;
  box-shadow: default;
  line-height: relaxed;
  border-radius: 8px;
  width: 100%;
  font-family: body;
  font-size: 2px;
  max-height: calc(90vh - 124px);
  min-height: 142px;
  padding: 8px;
  padding-right: 40px;
}
.remirror-social-editor p {
  margin: 0px;
  -webkit-letter-spacing: 0.6px;
  -moz-letter-spacing: 0.6px;
  -ms-letter-spacing: 0.6px;
  letter-spacing: 0.6px;
  color: text;
}
.remirror-social-editor a.mention {
  pointer-events: none;
  cursor: default;
}
.remirror-social-editor a {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  color: primary;
}
.remirror-social-editor:focus {
  outline: none;
  box-shadow: focus;
}
.remirror-social-editor .Prosemirror-selectednode {
  background-color: $oc-gray-1;
}
.remirror-emoji-suggestions-item {
  padding: 8px;
  text-overflow: ellipsis;
  max-width: 250px;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}
.remirror-emoji-suggestions-item.hovered {
  color: hsl(205, 5%, 90%);
}
.remirror-emoji-suggestions-item.highlighted {
  color: hsl(205, 5%, 80%);
}
.remirror-emoji-suggestions-dropdown-wrapper {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: hsla(205, 70%, 15%, 0.25) 0 4px 8px -2px 0px, hsla(205, 70%, 15%, 0.31) 0px 0px 1px;
  z-index: 10;
  max-height: 250px;
  overflow-y: scroll;
}
.remirror-mention-suggestions-dropdown-wrapper {
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-flex-shrink: 0px;
  -ms-flex-negative: 0px;
  flex-shrink: 0px;
  margin: 0px;
  overflow: hidden;
  list-style: none;
  padding: 0px;
}
.remirror-mention-suggestions-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(230, 236, 240);
  padding: 7px 15px 6px 10px;
  font-size: 14px;
  color: white;
}
.remirror-mention-suggestions-item.hovered {
  color: hsl(205, 5%, 90%);
}
.remirror-mention-suggestions-item.highlighted {
  color: hsl(205, 5%, 80%);
}
.remirror-mention-suggestions-item:hover {
  background-color: #e8f5fd;
}
.remirror-mention-suggestions-item:hover span {
  color: #1da1f2;
}
.remirror-mention-suggestions-user-item-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
}
.remirror-mention-suggestions-user-item-display-name {
  margin-right: 5px;
  color: #14171a;
  word-break: break-all;
  font-weight: bold;
}
.remirror-mention-suggestions-user-item-username {
  color: #657786;
}
.remirror-mention-suggestions-tag-item-tag {
  font-weight: bold;
  color: #66757f;
}
.remirror-mention-suggestions-tag-item-tag:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  color: #1da1f2;
}

/**
 * Styles extracted from: @remirror/react-editor-social/src/components/social-editor-character-count.tsx
 */
.remirror-character-count-wrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0 8px 10px 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.remirror-character-count-circle-background {
  stroke: #ccd6dd;
  fill: none;
}
.remirror-character-count-circle {
  fill: none;
}
.remirror-character-count-circle-wrapper {
  margin-bottom: -4px;
  overflow: visible;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/**
 * Styles extracted from: @remirror/react-editor-social/src/components/social-editor.tsx
 */
