.mention {
  background: var(--rmr-hue-violet-6);
  padding: 2px 4px;
  border-radius: 4px;
}

.remirror-theme {
  /* Provide sufficient space to see the popup */
  --rmr-space-6: 400px;
}
.suggestions {
  background: var(--rmr-color-background);
  border: 1px solid darkgray;
  border-radius: 4px;
}
.suggestion {
  padding: 2px 8px;
}
.highlighted {
  background: var(--rmr-hue-violet-2);
}
.hovered {
  background: var(--rmr-hue-violet-1);
}
