name: e2e

on:
  push:
    branches:
      - main

env:
  TURBO_TOKEN: ${{ secrets.VERCEL_STORYBOOK_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  # Run the e2e playwright tests
  playwright:
    timeout-minutes: 50
    runs-on: ubuntu-latest
    strategy:
      matrix:
        server: [next, docs, storybook-react]
        browser: [chromium, firefox, webkit]
        mode: [development, production]
      fail-fast: true

    steps:
      - name: checkout code repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: install and audit
        uses: ./support/actions/pnpm

      - name: build project
        run: pnpm build

      # - name: build server
      #   if: matrix.mode == 'production'
      #   run: 'pnpm build:e2e:${{ matrix.server }}'

      # - name: ${{ matrix.server }} e2e - ${{ matrix.browser }} - ${{matrix.mode}}
      #   env:
      #     E2E_ENVIRONMENT: playwright
      #     E2E_SERVER: ${{matrix.server}}
      #     E2E_BROWSER: ${{matrix.browser}}
      #     E2E_MODE: ${{matrix.mode}}
      #   run: pnpm e2e
