name: 'Pull Request Labeler'

on:
  - pull_request

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@master
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
