# Lint the name of opened pr's using commit lint.

name: pr-name-linter
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  lint-pr-name:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          path: ./repo

      - name: install commit lint conventional
        run: |
          npm init --yes
          npm i '@commitlint/config-angular@^15'

      - name: copy config file
        run: |
          cp ./repo/support/root/commitlint.config.js ./commitlint.config.js

      - name: lint pr title
        uses: JulienKode/pull-request-name-linter-action@v0.4.0
        with:
          configuration-path: './commitlint.config.js'
