name: version

on:
  push:
    branches:
      - main
      - v1
      - v3

  pull_request:
    branches:
      - main
      - v1
      - v3

env:
  TURBO_TOKEN: ${{ secrets.VERCEL_STORYBOOK_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  # Update package versions with changesets.
  version:
    timeout-minutes: 50
    runs-on: ubuntu-latest
    if: ${{ false == contains(github.ref, 'changeset') && github.repository == 'remirror/remirror' }}
    steps:
      - name: checkout code repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          token: ${{ secrets.REMIRROR_BOT_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

      - name: install and audit
        uses: ./support/actions/pnpm

      - name: create versions
        uses: changesets/action@6a0a831ff30acef54f2c6aa1cbbc1096b066edaf # v1.7.0
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/v1' || github.ref == 'refs/heads/v2' || github.ref == 'refs/heads/v3' }}
        with:
          version: pnpm version:ci
          commit: 'chore(changeset): version update'
          title: 'chore(changeset): version update'
        env:
          GITHUB_TOKEN: ${{ secrets.REMIRROR_BOT_GITHUB_TOKEN }}
